<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SendIT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link class="fa fa-paper-plane-o" rel="icon"> -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../assets/styles/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../assets/styles/user_settings.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script src="../../scripts/index.js"></script>

</head>
<body>
    <header>
        <div class="brand">
            <span>SEND It<i class="fa fa-paper-plane-o"></i></span>
        </div>
        <ul>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn" id="usernayme"><i class="fa fa-fw fa-user-circle"></i> </a>
                <div class="dropdown-content">
                  <a href="#" class="active"><i class="fa fa-user"></i> Profile</a>
                  <a href="../../index.html"><i class="fa fa-power-off"></i> LogOut</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn" id="not"><i class="fa fa-fw fa-bell-o"></i> Notifications <span id="number"></span> </a>
                <div class="dropdown-content" id="nots">
                    
                </div>
            </li>
            <li><a href="users.html"><i class="fa fa-fw fa-users"></i> Users</a></li>
            <li><a href="admin_parcels.html"><i class="fa fa-fw fa-edit"></i> My Parcels</a></li>
            <li><a href="admin_home.html"><i class="fa fa-fw fa-edit"></i> All Parcels</a></li>
        </ul>
    </header>
    <section>
        <table class="settingsContainer">
            <tr>
               <td width="40%" colspan="2" rowspan="2">
                   <i class="fa fa-user" id="i"></i><br>
                   <span id="info"></span>
                </td> 
                <td></td>
                <td>All Parcels<br><br><br><br> <span class="bigBox" id="total"> </span></td>
                <td></td>
                <td>
                    <td> 
                        <tr>
                            <td>Delivered  <br><br> <span class="box" id="delivered"></span></td>
                            <td>In-transit <br><br> <span class="box" id="intransit"></span></td>
                            <td>Pending <br><br> <span class="box" id="pending"></span></td>
                            <td>Cancelled <br><br> <span class="box" id="cancelled"></span></td>
                        </tr>
                    </td>
                </td>
            </tr>
        </table>
        <br><br>
    </section>
    <footer>
        <span>Send IT &copy; 2018</span>
    </footer>
    <script src="../../scripts/profile.js"></script>
</body>
</html>