<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SendIT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link class="fa fa-paper-plane-o" rel="icon"> -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../assets/styles/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../assets/styles/admin_home.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="brand">
            <span>SEND It<i class="fa fa-paper-plane-o"></i></span>
        </div>
        <ul>
            <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn">Admin</a>
              <div class="dropdown-content">
                <!-- <a href="#"><i class="fa fa-gear"></i> Settings</a> -->
                <a href="../../index.html"><i class="fa fa-power-off"></i> LogOut</a>
              </div>
            </li>
            <li><a href="#" class="active"><i class="fa fa-fw fa-edit"></i> Parcels</a></li>
          </ul>
    </header>
    <section>
        <div class="top">
            <div class="search">
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search Parcel Delivery Orders"><button type="submit"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <br><br>
        <table id="allparcels">
            <thead>
                <tr>
                    <th>Parcel ID</th>
                    <th>Status</th>
                    <th>Present Location</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <div id="myModal" class="modal">
        </div>
        
    </section>
    <footer>
        <span>Send IT &copy; 2018</span>
    </footer>
    <script src="../../scripts/admin_home.js"></script>
    <script src="../../scripts/main.js"></script>
</body>
</html>