@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

html{
    background: url(../images/indexBg.jpg) center fixed;
    background-size: cover;
}

header{
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
    width: 100%;
    background-color: rgb(48, 39, 39, 0.6);
    height: 60px;
}

.brand{
    float: left;
    color: white;
    font-size: 25px;
    padding: 10px;
    margin-left: 30px;
    font-family: 'Shadows Into Light', cursive;
}

.left_container{
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    width: 50%;
    margin-top: 60px;
}

.left_container table{
    margin-left: 10%;
    margin-top: 8%;
    width: 500px;
    height: 400px;
}

.left_container table td{
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    font-size: 20px;
    color: white;
}

.left_container table td:hover{
    font-weight: bolder;
    font-size: 35px;
}

.right_container{
    background-color: rgb(48, 39, 39, 0.6);
    border-radius: 10px;
    height: 450px;
    float: right;
    margin-right: 90px;
    margin-top: 8%;
    width: 350px;
    padding: 20px;
    z-index: 2;
}

.icon{
    text-align: center;
    font-size: 90px;
    opacity: 0.9;
    color: antiquewhite;
}

#signup{
    margin: auto;
    text-align: center;
    display: none;
}

#login{
    margin: auto;
    text-align: center;
}

.right_container input, .right_container button{
    border: none;
    margin-bottom:20px;
    padding: 5px 19px;
    border-radius: 5px;
}

.loginButton{
    border: none;
    padding: 5px 11px;
    background-color: rgba(82, 18, 18, 0.336);
    color: white;
    cursor: pointer;
}

.option{
    color: rgb(238, 232, 243);
    background-color: inherit;
    cursor: pointer;
}

.signupButton{
    border: none;
    padding: 5px 11px;
    background-color: rgba(82, 18, 18, 0.336);
    color: white;
    cursor: pointer;
}

span{
    color:whitesmoke;
}

#err{
    color:rgb(240, 57, 57);
    font-size: 12px;
    font-weight: bold;
}

@media only screen and (max-width: 800px){
    .left_container{
        display: none;
    }

    .right_container{
        /* margin: auto; */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        float: none;
        margin: auto;
        margin-top: 30%;
    }
    .right_container input{
        width: 150px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 800px){
    .left_container{
        display: block;
        margin-left: 0;
    }
    .left_container table{
        margin-left: 0;
        margin-top: 8%;
        width: 300px;
        height: 400px;
    }
    .right_container{
        float: right;
        margin-right: 10%;
        margin-top: 12%;
        width: 350px;


    }

}